main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat 0.25fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.title-container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

/* nav{
    background: var(--background2);
    width: 100%;
} */